<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stock market</title>
    <style>
        body {
            font-family:
                Helvetica,
                Arial,
                "lucida grande",
                tahoma,
                verdana,
                arial,
                "hiragino kaku gothic pro",
                Meiryo,
                "ms pgothic",
                sans-serif;
            text-align: center;
            display: block;
        }

        body .container {
            text-align: left;
            display: inline-block;
        }
    </style>
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>